body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #6200ee;
  font-family: 'Lato', sans-serif;
}

#main-container {
  height: 700px;
  width: 500px;
  border-radius: 7px;
  background-color: #fafafa;
}

#output-container {
  height: 557px;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  background-color: #eeeeee;
  border-radius: 7px;
}

p {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
  display: table;
}

p:nth-child(odd) {
  background-color: #42a5f5;
}
p:nth-child(even) {
  background-color: #7e57c2;
  color: white;
}

#input-container {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
}

#message-input {
  height: 20px;
  width: 80%;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

button {
  align-self: center;
  padding: 7px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
